# ------------------------------
# Docker Compose (raiz)
# ------------------------------

# Base de datos principal (claims)
DB_USER=admin
DB_PASSWORD=password123
DB_NAME=lost_found_uninorte
DB_PORT=5432

# Base de datos de auditoria
AUDIT_DB_USER=admin
AUDIT_DB_PASSWORD=password123
AUDIT_DB_NAME=audit_log_db
AUDIT_DB_PORT=5433

# Broker y descubrimiento
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
CONSUL_HOST=consul
CONSUL_PORT=8500

# Claims service
CLAIMS_DATABASE_URL=postgresql://admin:password123@db:5432/lost_found_uninorte?schema=public
CLAIMS_SERVICE_HOST=claims-service
CLAIMS_SERVICE_PORT=3000
CLAIMS_PUBLIC_PORT=3000

# Audit service
AUDIT_DATABASE_URL=postgresql://admin:password123@audit-db:5432/audit_log_db?schema=public
AUDIT_SERVICE_PORT=3001
AUDIT_PUBLIC_PORT=3001

# Frontend
FRONTEND_PUBLIC_PORT=5173

# Entorno general
NODE_ENV=development