DATABASE_URL="postgresql://admin:password123@localhost:5432/lost_found_uninorte?schema=public"
RABBITMQ_URL="amqp://guest:guest@localhost:5672"
NODE_ENV=development

# Service Discovery (Consul)
CONSUL_HOST=localhost
CONSUL_PORT=8500
SERVICE_HOST=localhost
SERVICE_PORT=3000

# Puerto HTTP del servicio
PORT=3000