DATABASE_URL="postgresql://admin:password123@localhost:5433/audit_log_db?schema=public"
RABBITMQ_URL="amqp://guest:guest@localhost:5672"
NODE_ENV=development

# Puertos del servicio de auditoria
SERVICE_PORT=3001
PORT=3001